<div class="card flex flex-column flex-grow-1 overflow-hidden">
    <div class="flex overflow-y-auto ">
        <h3 class="font-semibold">Perfil</h3>
    </div>
    <p>Usuario: {{selectedUser.name}}</p>
    <p>Correo: {{selectedUser.email}}</p>
    <p>Rol: {{selectedUser?.roles?.[0]?.name}}</p>
    <div class=" gap-2">
    <p-button icon="pi pi-pencil" label="Cambiar Contraseña" title="Cambiar Contraseña" styleClass="p-button-sm p-button-warning"  (onClick)="showUserDialog(selectedUser)"></p-button>
    </div>
</div>

<p-dialog
    transitionOptions="350ms ease"
    [blockScroll]="true"
    header="Cambiar Contraseña"
    [focusOnShow]="false"
    [closable]="false"
    [draggable]="false"
    [style]="{width: '480px'}"
    [(visible)]="displayAccountDialog"
    [modal]="true">
    <ng-template pTemplate="content">
        <div class="flex flex-column justify-content-between h-full w-full gap-4">
            <div class="grid m-0">
                <form [formGroup]="userForm" style="display: contents;">
                    <div class="formgrid grid p-fluid">
                        <div class="field col-12"> <!-- Nueva Contraseña -->
                            <label class="block font-medium">Nueva Contraseña <span class="p-error">*</span></label>
                            <p-password type="password"
                                type="password"
                                id="passwordId"
                                placeholder="Ingrese la Nueva Contraseña"
                                [maxLength]="50"
                                formControlName="password"
                                [toggleMask]="true"
                                [ngClass]="{'ng-invalid ng-dirty': utils.isFieldInvalid(userForm, 'password')}"></p-password>
                            <div style="height: 16px;">
                                <small class="p-error" [ngStyle]="{'visibility': utils.isFieldInvalid(userForm, 'password') ? 'visible' : 'hidden'}">
                                    <span>{{utils.getValidationErrorMessage(userForm, 'password')}}</span>
                                </small>
                            </div>
                        </div>
                        <div class="field col-12"> <!-- Repetir Nueva Contraseña -->
                            <label class="block font-medium">Repetir Nueva Contraseña <span class="p-error">*</span></label>
                            <p-password type="password"
                                type="password"
                                id="confirmPassword"
                                placeholder="Ingrese Nuevamente la Contraseña"
                                [maxLength]="50"
                                [toggleMask]="true"
                                formControlName="confirmPassword"
                                [ngClass]="{'ng-invalid ng-dirty': utils.isFieldInvalid(userForm, 'confirmPassword')}"></p-password>
                            <div style="height: 16px;">
                                <small class="p-error" [ngStyle]="{'visibility': utils.isFieldInvalid(userForm, 'confirmPassword') ? 'visible' : 'hidden'}">
                                    <span>{{utils.getValidationErrorMessage(userForm, 'confirmPassword')}}</span>
                                </small>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="flex justify-content-between align-items-center">
                <p-button label="Cancelar" icon="pi pi-times" styleClass="p-button-danger" (onClick)="showConfirmCancelEditUser()"></p-button>
                <p-button label="Guardar" icon="pi pi-check" (onClick)="showConfirmsaveUser()"></p-button>
            </div>
        </div>
    </ng-template>
</p-dialog>

