<div class="card flex flex-column flex-grow-1 overflow-hidden p-0 border-none">
    <div class="flex overflow-y-auto h-full">
        <div class="flex-grow-1 custom-table-paginator">
            <p-table
                #dt
                [value]="providers"
                [columns]="colsProvider"
                [loading]="isLoadingTable"
                [showLoader]="false"
                styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
                sortField="name"
                [sortOrder]="1"
                sortMode="single"
                [rowTrackBy]="utils.rowTrackByFunction"
                dataKey="id"
                [scrollable]="true"
                scrollHeight="flex"
                [rows]="30"
                [globalFilterFields]="['name','code','ruc','fantasyName']"
                [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]"
                paginatorDropdownScrollHeight="120px"
                paginatorDropdownAppendTo="body"
                [showJumpToPageDropdown]="true"
                [showPageLinks]="false"
                currentPageReportTemplate="Mostrando desde {first} al {last} de {totalRecords} resultados">
                <ng-template pTemplate="loadingbody">
                    <div class="overlay-component">
                        <span class="custom-loader"></span>
                    </div>
                </ng-template>
                <ng-template pTemplate="caption">
                    <h3 class="font-semibold">Proveedores</h3>
                    <div class="flex flex-column md:flex-row md:align-items-center gap-3">
                        <span class="block p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="search" (input)="utils.onGlobalFilter(dt, $event)" placeholder="Buscar" class="w-full md:w-auto"/>
                        </span>
                        <div class="flex justify-content-between align-items-center w-full gap-3">
                            <p-button label="Agregar" icon="pi pi-plus" (onClick)="showProviderDialog()"></p-button>
                            <p-button icon="pi pi-sync" loadingIcon="pi pi-sync" [loading]="isLoadingTable" (onClick)="getProviders(true)"></p-button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="5" class="empty-table-container">
                            <div class="empty-message">
                                <ng-icon name="tablerZoomQuestion" size="6rem" strokeWidth="1.7px" color="black"></ng-icon>
                                <h4 class="text-center font-semibold">No se ha encontrado ningún proveedor</h4>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        @for (col of columns; track $index) {
                            @if (col.header) {
                                <th [style.width]="col.width" [ngClass]="{'text-center': col.center}" [pSortableColumn]="col.order ? col.field : null">
                                    {{col.header}}
                                    @if (col.order) {
                                        <p-sortIcon [field]="col.field"></p-sortIcon>
                                    }
                                </th>
                            } @else {
                                <th [style]="'min-width: ' + col.width"></th>
                            }
                        }
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-provider let-rowIndex="rowIndex" let-columns="columns">
                    <tr>
                        @for (col of columns; track $index) {
                            @if (col.field !== '' && col.field !== 'actions' && col.field !== 'activo') {
                                <td [ngClass]="{'text-center': col.center}">
                                    <span class="p-column-title">
                                        {{col.header}}
                                    </span>
                                    {{ utils.getNestedValue(provider, col) }}
                                </td>
                            } 
                            @else if (col.field === 'activo') {
                                <td>
                                    <span class="p-column-title">
                                        {{col.header}}
                                    </span>
                                    <div class="flex justify-content-center align-items-center">
                                        <p-inputSwitch #switch [ngModel]="provider.activo ? true : false" (onChange)="updateProviderState(provider, switch)"></p-inputSwitch>
                                    </div>
                                </td>
                            } 
                            @else if (col.field === 'actions') {
                                <td>
                                    <div class="flex justify-content-center gap-2">
                                        <p-button icon="pi pi-pencil" title="Editar" styleClass="p-button-sm p-button-warning" (onClick)="showProviderDialog(provider)"></p-button>
                                    </div>
                                </td>
                            }
                        }
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p-dialog
    transitionOptions="350ms ease"
    [blockScroll]="true"
    header="Proveedor"
    [autofocus]="false"
    [focusOnShow]="false"
    [closable]="false"
    [draggable]="false"
    [style]="{width: '480px'}"
    [(visible)]="displayProviderDialog"
    [modal]="true">
    <ng-template pTemplate="content">
        <div class="flex flex-column justify-content-between h-full w-full gap-4">
            <div class="grid m-0">
                <form [formGroup]="providerForm" style="display: contents;">
                    <div class="formgrid grid flex-grow-1 p-fluid">
                        <div class="field col-12"> <!-- Nombre -->
                            <label class="block font-medium">Nombre <span class="p-error">*</span></label>
                            <input
                            type="text"
                            pInputText id="nombre"
                            placeholder="Ingrese el nombre"
                            [maxLength]="255"
                            formControlName="nombre"
                            [ngClass]="{'ng-invalid ng-dirty': utils.isFieldInvalid(providerForm, 'nombre')}">
                            <div style="height: 16px;">
                                <small class="p-error" [ngStyle]="{'visibility': utils.isFieldInvalid(providerForm, 'nombre') ? 'visible' : 'hidden'}">
                                        <span>{{utils.getValidationErrorMessage(providerForm, 'nombre')}}</span>
                                </small>
                            </div>
                        </div>
                        <div class="field col-12"> <!-- Dirección -->
                            <label class="block font-medium">Dirección <span class="p-error">*</span></label>
                            <input
                            id="direccion"
                            type="text"
                            pInputText 
                            placeholder="Ingrese la dirección"
                            [maxLength]="255"
                            formControlName="direccion"
                            [ngClass]="{'ng-invalid ng-dirty': utils.isFieldInvalid(providerForm, 'direccion')}">
                            <div style="height: 16px;">
                                <small class="p-error" [ngStyle]="{'visibility': utils.isFieldInvalid(providerForm, 'direccion') ? 'visible' : 'hidden'}">
                                        <span>{{utils.getValidationErrorMessage(providerForm, 'direccion')}}</span>
                                </small>
                            </div>
                        </div>
                        <div class="field col-12"> <!-- Telefono -->
                            <label class="block font-medium">Telefono <span class="p-error">*</span></label>
                            <input
                            id="telefono"
                            type="text"
                            pInputText 
                            placeholder="Ingrese el teléfono"
                            [maxLength]="255"
                            formControlName="telefono"
                            [ngClass]="{'ng-invalid ng-dirty': utils.isFieldInvalid(providerForm, 'telefono')}"/>
                            <div style="height: 16px;">
                                <small class="p-error" [ngStyle]="{'visibility': utils.isFieldInvalid(providerForm, 'telefono') ? 'visible' : 'hidden'}">
                                        <span>{{utils.getValidationErrorMessage(providerForm, 'telefono')}}</span>
                                </small>
                            </div>
                        </div>
                        <div class="field col-12"> <!-- Email -->
                            <label class="block font-medium">Email <span class="p-error">*</span></label>
                            <input
                            id="email"
                            type="text"
                            pInputText 
                            placeholder="Ingrese el email"
                            [maxLength]="40"
                            formControlName="email"
                            [ngClass]="{'ng-invalid ng-dirty': utils.isFieldInvalid(providerForm, 'email')}">
                            <div style="height: 16px;">
                                <small class="p-error" [ngStyle]="{'visibility': utils.isFieldInvalid(providerForm, 'email') ? 'visible' : 'hidden'}">
                                        <span>{{utils.getValidationErrorMessage(providerForm, 'email')}}</span>
                                </small>
                            </div>
                        </div>
                        <div class="field col-12"> <!-- Ruc -->
                            <label class="block font-medium">Ruc <span class="p-error">*</span></label>
                            <input
                            id="ruc"
                            type="text"
                            pInputText 
                            placeholder="Ingrese el ruc"
                            [maxLength]="20"
                            formControlName="ruc"
                            [ngClass]="{'ng-invalid ng-dirty': utils.isFieldInvalid(providerForm, 'ruc')}">
                            <div style="height: 16px;">
                                <small class="p-error" [ngStyle]="{'visibility': utils.isFieldInvalid(providerForm, 'ruc') ? 'visible' : 'hidden'}">
                                        <span>{{utils.getValidationErrorMessage(providerForm, 'ruc')}}</span>
                                </small>
                            </div>
                        </div>
                        <div class="field col-12"> <!-- País -->
                            <label class="block font-medium">País <span class="p-error">*</span></label>
                            <input
                            id="email"
                            type="pais"
                            pInputText 
                            placeholder="Ingrese el país"
                            [maxLength]="40"
                            formControlName="pais"
                            [ngClass]="{'ng-invalid ng-dirty': utils.isFieldInvalid(providerForm, 'pais')}">
                            <div style="height: 16px;">
                                <small class="p-error" [ngStyle]="{'visibility': utils.isFieldInvalid(providerForm, 'pais') ? 'visible' : 'hidden'}">
                                        <span>{{utils.getValidationErrorMessage(providerForm, 'pais')}}</span>
                                </small>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="flex justify-content-between align-items-center">
                <p-button label="Cancelar" icon="pi pi-times" styleClass="p-button-danger" (onClick)="showConfirmCancelEditProvider()"></p-button>
                <p-button label="Guardar" icon="pi pi-check" styleClass="p-button-success" (onClick)="showConfirmSaveProvider()"></p-button>
            </div>
        </div>
    </ng-template>
</p-dialog>
