<div class="grid w-full">
    <div class="col-12">
        <div class="card p-0">
            <div class="flex flex-column align-items-center justify-content-center surface-section text-800 overflow-hidden border-round-xl w-full h-16rem relative">
                <div class="dashboard-background-image"></div>
                <div class="dashboard-text">
                    <span class="font-bold text-white text-xl md:text-6xl">SISTEMA DIGITALIZADOR CERTIFICADO DE ARCHIVOS</span>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-6">
        <div class="card">
        </div>
    </div>
    <div class="col-6">
        <div class="card">
        </div>
    </div>
    <div class="col-6">
        <div class="card">
        </div>
    </div>
    <div class="col-6">
        <div class="card">
        </div>
    </div> -->
</div>


<div></div>