<div class="card flex flex-column flex-grow-1 overflow-hidden p-0 border-none">
    <div class="flex overflow-y-auto h-full">
        <div class="flex-grow-1 custom-table-paginator">
            <p-table
                #dt
                [value]="invoices"
                [columns]="colsInvoice"
                [loading]="isLoadingNewInvoice"
                [showLoader]="false"
                styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
                sortField="fecha_emision"
                [sortOrder]="1"
                sortMode="single"
                [rowTrackBy]="utils.rowTrackByFunction"
                dataKey="id"
                [scrollable]="true"
                scrollHeight="flex"
                [rows]="30"
                [globalFilterFields]="['numero']"
                [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]"
                paginatorDropdownScrollHeight="120px"
                paginatorDropdownAppendTo="body"
                [showJumpToPageDropdown]="true"
                [showPageLinks]="false"
                currentPageReportTemplate="Mostrando desde {first} al {last} de {totalRecords} resultados">
                <ng-template pTemplate="loadingbody">
                    <div class="overlay-component">
                        <span class="custom-loader"></span>
                    </div>
                </ng-template>
                <ng-template pTemplate="caption">
                    <h3 class="font-semibold">Facturas</h3>
                    <form [formGroup]="filterForm" style="display: contents;">
                        <div class="grid p-fluid">
                            <div class="field p-0 px-3 pt-3 md:p-3 md:m-0 col-6 md:col-3"> <!-- Entidad -->
                                <label class="font-medium text-700">Operación</label>
                                <p-dropdown 
                                    id="operacion"
                                    [options]="operations"
                                    appendTo="body"
                                    scrollHeight="50vh"
                                    [resetFilterOnHide]="true"
                                    [autoOptionFocus]="false"
                                    [autoDisplayFirst]="false"
                                    formControlName="operacion"
                                    placeholder="Seleccione una opción"
                                    [ngClass]="{'ng-invalid ng-dirty': utils.isFieldInvalid(filterForm, 'operacion')}">
                                </p-dropdown>
                            </div>
                            <div class="field p-0 px-3 md:p-3 md:m-0 col-3 md:col-2"> <!-- Fecha Emisión -->
                                <label class="font-medium text-700">Fecha de Emisión:</label>
                                <p-calendar inputId="fecha_emision" DateMask appendTo="body" [readonlyInput]="false" [showButtonBar]="true" [selectOtherMonths]="true" dataType="string" dateFormat="dd/mm/yy" (onShow)="updateDate()" [maxDate]="currentDate" formControlName="fecha_emision" placeholder="DD/MM/AAAA"></p-calendar>
                            </div>
                        </div>
                        <div class="flex justify-content-between align-items-center gap-3 w-full">
                            <p-button label="Buscar" type="submit" [disabled]="filterForm?.invalid || filterForm?.disabled" (onClick)="searchFilterIvoices()" icon="pi pi-search"></p-button>
                            <p-button label="Agregar" [loading]="isLoadingNewInvoice" icon="pi pi-plus" (onClick)="showInvoiceDialog()"></p-button>
                        </div>
                    </form>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6" class="empty-table-container">
                            <div class="empty-message">
                                <ng-icon name="tablerZoomQuestion" size="6rem" strokeWidth="1.7px" color="black"></ng-icon>
                                <h4 class="text-center font-semibold">No se ha encontrado ningúna factura</h4>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        @for (col of columns; track $index) {
                            @if (col.header) {
                                <th [style.width]="col.width" [ngClass]="{'text-center': col.center}" [pSortableColumn]="col.order ? col.field : null">
                                    {{col.header}}
                                    @if (col.order) {
                                        <p-sortIcon [field]="col.field"></p-sortIcon>
                                    }
                                </th>
                            } @else {
                                <th [style]="'min-width: ' + col.width"></th>
                            }
                        }
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-invoice let-rowIndex="rowIndex" let-columns="columns">
                    <tr>
                        @for (col of columns; track $index) {
                            @if (col.field !== '' && col.field !== 'actions' && col.field !== 'index') {
                                <td [ngClass]="{'text-center': col.center}">
                                    <span class="p-column-title">
                                        {{col.header}}
                                    </span>
                                    {{ utils.getNestedValue(invoice, col) }}
                                </td>
                            } 
                            @else if (col.field === 'index') {
                                <td [ngClass]="{'text-center': col.center}">
                                    <span class="p-column-title">
                                        {{col.header}}
                                    </span>
                                    {{ rowIndex + 1 }}
                                </td>
                            }
                            @else if (col.field === 'actions') {
                                <td>
                                    <div class="flex justify-content-center gap-2">
                                        <p-button icon="pi pi-eye" styleClass="p-button-sm" [disabled]="isLoadingInvoiceItems" [loading]="isLoadingInvoiceItems && rowIndex === isLoadingInvoiceItemsIndex" (onClick)="showInvoiceItemsDialog(invoice, rowIndex)"></p-button>
                                    </div> 
                                </td>
                            }
                        }
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<!-- Ver Items de la Factura -->
<p-dialog
    transitionOptions="350ms ease"
    [blockScroll]="true"
    [autofocus]="false"
    [focusOnShow]="false"
    [showHeader]="false"
    [closable]="false"
    [draggable]="false"
    [style]="{width: '1200px', height: '600px'}"
    styleClass="no-header"
    [(visible)]="displayInvoiceItemsDialog"
    [modal]="true">
    <ng-template pTemplate="content">
        <div class="flex flex-column justify-content-between h-full w-full gap-4">
            <div class="flex-grow-1 custom-table-paginator">
                <p-table
                    #dt
                    [value]="selectedInvoice?.items"
                    [columns]="colsInvoiceItems"
                    [showLoader]="false"
                    styleClass="p-datatable-gridlines p-datatable-striped"
                    sortField="cantidad"
                    [sortOrder]="1"
                    sortMode="single"
                    [rowTrackBy]="utils.rowTrackByFunction"
                    dataKey="id"
                    [scrollable]="true"
                    scrollHeight="flex"
                    [rows]="5"
                    [globalFilterFields]="['producto.name']"
                    [paginator]="true"
                    paginatorDropdownScrollHeight="120px"
                    paginatorDropdownAppendTo="body"
                    [showJumpToPageDropdown]="true"
                    [showPageLinks]="false"
                    currentPageReportTemplate="Mostrando desde {first} al {last} de {totalRecords} resultados">
                    <ng-template pTemplate="loadingbody">
                        <div class="overlay-component">
                            <span class="custom-loader"></span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="caption">
                        <h4 class="font-semibold">{{'Detalles de Factura: ' + selectedInvoice?.numero}}</h4>
                        <div class="flex flex-column md:flex-row md:align-items-center gap-3">
                            <span class="block p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="search" (input)="utils.onGlobalFilter(dt, $event)" placeholder="Buscar" class="w-full md:w-auto"/>
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="5" class="empty-table-container">
                                <div class="empty-message">
                                    <ng-icon name="tablerZoomQuestion" size="6rem" strokeWidth="1.7px" color="black"></ng-icon>
                                    <h4 class="text-center font-semibold">No se ha encontrado ningún item</h4>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            @for (col of columns; track $index) {
                                @if (col.header) {
                                    <th [style.width]="col.width" [ngClass]="{'text-center': col.center}" [pSortableColumn]="col.order ? col.field : null">
                                        {{col.header}}
                                        @if (col.order) {
                                            <p-sortIcon [field]="col.field"></p-sortIcon>
                                        }
                                    </th>
                                } @else {
                                    <th [style]="'min-width: ' + col.width"></th>
                                }
                            }
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-transfer let-rowIndex="rowIndex" let-columns="columns">
                        <tr>
                            @for (col of columns; track $index) {
                                @if (col.field !== '' && col.field !== 'actions' && col.field !== 'index') {
                                    <td [ngClass]="{'text-center': col.center}">
                                        <span class="p-column-title">
                                            {{col.header}}
                                        </span>
                                        {{ utils.getNestedValue(transfer, col) }}
                                    </td>
                                } 
                                @else if (col.field === 'index') {
                                    <td [ngClass]="{'text-center': col.center}">
                                        <span class="p-column-title">
                                            {{col.header}}
                                        </span>
                                        {{ rowIndex + 1 }}
                                    </td>
                                }
                            }
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="flex justify-content-between align-items-center">
                <p-button label="Cerrar" icon="pi pi-times" (onClick)="closeInvoiceItemsDialog()"></p-button>
            </div>
        </div>
    </ng-template>
</p-dialog>

<!-- Agregar Nueva Factura -->
<p-dialog
    transitionOptions="350ms ease"
    [blockScroll]="true"
    [autofocus]="false"
    [focusOnShow]="false"
    [showHeader]="false"
    [closable]="false"
    [draggable]="false"
    [style]="{width: '1200px', height: '720px'}"
    styleClass="no-header"
    [(visible)]="displayNewInvoiceDialog"
    [modal]="true">
    <ng-template pTemplate="content">
        <div class="flex flex-column justify-content-between h-full w-full gap-4">
            <div class="flex-grow-1 custom-table-paginator">
                <p-table
                    #dt
                    [value]="invoiceForm.value.items"
                    [columns]="colsNewInvoiceItems"
                    [showLoader]="false"
                    styleClass="p-datatable-gridlines p-datatable-striped"
                    sortField="cantidad"
                    [sortOrder]="1"
                    sortMode="single"
                    [rowTrackBy]="utils.rowTrackByFunction"
                    dataKey="id"
                    [scrollable]="true"
                    scrollHeight="flex"
                    [rows]="5"
                    [globalFilterFields]="['cantidad', 'producto.nombre']"
                    [paginator]="true"
                    paginatorDropdownScrollHeight="120px"
                    paginatorDropdownAppendTo="body"
                    [showJumpToPageDropdown]="true"
                    [showPageLinks]="false"
                    currentPageReportTemplate="Mostrando desde {first} al {last} de {totalRecords} resultados">
                    <ng-template pTemplate="loadingbody">
                        <div class="overlay-component">
                            <span class="custom-loader"></span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="caption">
                        <h4 class="font-semibold">Nueva Factura</h4>
                        <form [formGroup]="invoiceForm" style="display: contents;">
                            <div class="grid p-fluid">
                                <div class="field p-0 px-3 pt-3 md:p-3 md:m-0 col-6 md:col-4"> 
                                    <label class="font-medium text-700">Operación</label>
                                    <p-dropdown 
                                        id="operacion"
                                        [options]="operations"
                                        appendTo="body"
                                        scrollHeight="50vh"
                                        [resetFilterOnHide]="true"
                                        [autoOptionFocus]="false"
                                        [autoDisplayFirst]="false"
                                        formControlName="operacion"
                                        placeholder="Seleccione una opción"
                                        [ngClass]="{'ng-invalid ng-dirty': utils.isFieldInvalid(invoiceForm, 'operacion')}">
                                    </p-dropdown>
                                </div>
                                <div class="field p-0 px-3 pt-3 md:p-3 md:m-0 col-6 md:col-4" *ngIf="invoiceForm.value.operacion === 'venta'">
                                    <label class="font-medium text-700">Cliente</label>
                                    <p-dropdown 
                                        id="cliente"
                                        [options]="customers"
                                        dataKey="id"
                                        appendTo="body"
                                        scrollHeight="50vh"
                                        [filter]="true"
                                        filterBy="nombre"
                                        filterPlaceholder="Buscar"
                                        [resetFilterOnHide]="true"
                                        optionLabel="nombre"
                                        [autoOptionFocus]="false"
                                        [autoDisplayFirst]="false"
                                        formControlName="cliente"
                                        placeholder="Seleccione una opción"
                                        [ngClass]="{'ng-invalid ng-dirty': utils.isFieldInvalid(invoiceForm, 'cliente')}">
                                    </p-dropdown>
                                </div>
                                <div class="field p-0 px-3 pt-3 md:p-3 md:m-0 col-6 md:col-4" *ngIf="invoiceForm.value.operacion === 'compra'"> 
                                    <label class="font-medium text-700">Proveedor</label>
                                    <p-dropdown 
                                        id="proveedor"
                                        [options]="providers"
                                        dataKey="id"
                                        appendTo="body"
                                        scrollHeight="50vh"
                                        [filter]="true"
                                        filterBy="nombre"
                                        filterPlaceholder="Buscar"
                                        [resetFilterOnHide]="true"
                                        optionLabel="nombre"
                                        [autoOptionFocus]="false"
                                        [autoDisplayFirst]="false"
                                        formControlName="proveedor"
                                        placeholder="Seleccione una opción"
                                        [ngClass]="{'ng-invalid ng-dirty': utils.isFieldInvalid(invoiceForm, 'proveedor')}">
                                    </p-dropdown>
                                </div>
                                <div class="field p-0 px-3 pt-3 md:p-3 md:m-0 col-6 md:col-2"> 
                                    <label class="font-medium text-700">Fecha de emisión</label>
                                    <p-calendar 
                                        inputId="fecha_emision" 
                                        DateMask appendTo="body" 
                                        [readonlyInput]="false" 
                                        [showButtonBar]="true" 
                                        [selectOtherMonths]="true" 
                                        dataType="string" 
                                        dateFormat="yy-mm-dd" 
                                        (onShow)="updateDate()" 
                                        [maxDate]="currentDate" 
                                        formControlName="fecha_emision" 
                                        placeholder="DD/MM/AAAA">
                                    </p-calendar>
                                </div>
                                <div class="field p-0 px-3 pt-3 md:p-3 md:m-0 col-6 md:col-2"> 
                                    <label class="font-medium text-700">Fecha de vencimieto</label>
                                    <p-calendar 
                                        inputId="fecha_vencimiento" 
                                        DateMask appendTo="body" 
                                        [readonlyInput]="false" 
                                        [showButtonBar]="true" 
                                        [selectOtherMonths]="true" 
                                        dataType="string" 
                                        dateFormat="yy-mm-dd" 
                                        (onShow)="updateDate()"
                                        formControlName="fecha_vencimiento" 
                                        placeholder="DD/MM/AAAA">
                                    </p-calendar>
                                </div>
                                <div class="field p-0 px-3 md:p-3 md:m-0 col-6 md:col-2"> 
                                    <label class="font-medium text-700">Timbrado</label>
                                    <input 
                                    pInputText 
                                    id="timbrado" 
                                    type="text" 
                                    placeholder="Timbrado" 
                                    [maxLength]="3" 
                                    formControlName="timbrado" 
                                    [ngClass]="{'ng-invalid ng-dirty': utils.isFieldInvalid(invoiceForm, 'timbrado')}"/>
                                </div>
                                <div class="field p-0 px-3 md:p-3 md:m-0 col-6 md:col-2"> 
                                    <label class="font-medium text-700">Establecimiento</label>
                                    <input 
                                    pInputText 
                                    id="establecimiento" 
                                    type="text" 
                                    placeholder="Establecimiento" 
                                    [maxLength]="3" 
                                    formControlName="establecimiento" 
                                    [ngClass]="{'ng-invalid ng-dirty': utils.isFieldInvalid(invoiceForm, 'establecimiento')}"/>
                                </div>
                                <div class="field p-0 px-3 md:p-3 md:m-0 col-6 md:col-2"> 
                                    <label class="font-medium text-700">Punto de expedición</label>
                                    <input 
                                    pInputText 
                                    id="punto_expedicion" 
                                    type="text" 
                                    placeholder="Punto de expedición" 
                                    [maxLength]="3" 
                                    formControlName="punto_expedicion" 
                                    [ngClass]="{'ng-invalid ng-dirty': utils.isFieldInvalid(invoiceForm, 'punto_expedicion')}"/>
                                </div>
                                <div class="field p-0 px-3 pt-3 md:p-3 md:m-0 col-6 md:col-4" *ngIf="invoiceForm.value.operacion">
                                    <label class="font-medium text-700" *ngIf="invoiceForm.value.operacion === 'venta'">Condición de Venta</label>
                                    <label class="font-medium text-700" *ngIf="invoiceForm.value.operacion === 'compra'">Condición de Compra</label>
                                    <p-dropdown 
                                        id="condicion_venta"
                                        [options]="sale_conditions"
                                        appendTo="body"
                                        scrollHeight="50vh"
                                        [resetFilterOnHide]="true"
                                        [autoOptionFocus]="false"
                                        [autoDisplayFirst]="false"
                                        formControlName="condicion_venta"
                                        placeholder="Seleccione una opción"
                                        [ngClass]="{'ng-invalid ng-dirty': utils.isFieldInvalid(invoiceForm, 'condicion_venta')}">
                                    </p-dropdown>
                                </div>
                                <form [formGroup]="invoiceItemForm" style="display: contents;">
                                    <div class="field p-0 px-3 pt-3 md:p-3 md:m-0 col-6 md:col-4"> 
                                        <label class="font-medium text-700">Producto</label>
                                        <p-dropdown 
                                            id="producto"
                                            [options]="products"
                                            dataKey="id"
                                            appendTo="body"
                                            scrollHeight="50vh"
                                            [filter]="true"
                                            filterBy="nombre"
                                            filterPlaceholder="Buscar"
                                            [resetFilterOnHide]="true"
                                            optionLabel="nombre"
                                            [autoOptionFocus]="false"
                                            [autoDisplayFirst]="false"
                                            formControlName="producto"
                                            placeholder="Seleccione una opción"
                                            [ngClass]="{'ng-invalid ng-dirty': utils.isFieldInvalid(invoiceItemForm, 'producto')}">
                                        </p-dropdown>
                                    </div>
                                    <div class="field p-0 px-3 md:p-3 md:m-0 col-6 md:col-2"> 
                                        <label class="font-medium text-700">Cantidad</label>
                                        <input 
                                        pInputText 
                                        id="cantidad" 
                                        type="number" 
                                        placeholder="Cantidad" 
                                        [maxLength]="255" 
                                        formControlName="cantidad" 
                                        [ngClass]="{'ng-invalid ng-dirty': utils.isFieldInvalid(invoiceItemForm, 'cantidad')}"/>
                                    </div>
                                    <div class="field flex align-items-end p-0 px-3 md:p-3 md:m-0 col-6 md:col-2">
                                        <p-button type="submit" label="Agregar Detalle" [loading]="isLoadingNewInvoice" [disabled]="invoiceItemForm?.invalid" icon="pi pi-plus" class="w-full" (onClick)="addInvoiceItem()"></p-button>
                                    </div>
                                </form>
                            </div>
                        </form>
                        <!-- <div class="flex justify-content-between align-items-center gap-3 w-full">
                            <span class="block p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="search" (input)="utils.onGlobalFilter(dt, $event)" placeholder="Buscar" class="w-full md:w-auto"/>
                            </span>
                        </div> -->
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="5" class="empty-table-container">
                                <div class="empty-message">
                                    <ng-icon name="tablerFileX" size="6rem" strokeWidth="1.7px" color="black"></ng-icon>
                                    <h4 class="text-center font-semibold">No se ha agregado ningún item</h4>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            @for (col of columns; track $index) {
                                @if (col.header) {
                                    <th [style.width]="col.width" [ngClass]="{'text-center': col.center}" [pSortableColumn]="col.order ? col.field : null">
                                        {{col.header}}
                                        @if (col.order) {
                                            <p-sortIcon [field]="col.field"></p-sortIcon>
                                        }
                                    </th>
                                } @else {
                                    <th [style]="'min-width: ' + col.width"></th>
                                }
                            }
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-transfer let-rowIndex="rowIndex" let-columns="columns">
                        <tr>
                            @for (col of columns; track $index) {
                                @if (col.field !== '' && col.field !== 'actions' && col.field !== 'index') {
                                    <td [ngClass]="{'text-center': col.center}">
                                        <span class="p-column-title">
                                            {{col.header}}
                                        </span>
                                        {{ utils.getNestedValue(transfer, col) }}
                                    </td>
                                } 
                                @else if (col.field === 'index') {
                                    <td [ngClass]="{'text-center': col.center}">
                                        <span class="p-column-title">
                                            {{col.header}}
                                        </span>
                                        {{ rowIndex + 1 }}
                                    </td>
                                }
                                @else if (col.field === 'actions') {
                                    <!-- <td>
                                        <div class="flex justify-content-center gap-2">
                                            <p-button icon="pi pi-trash" styleClass="p-button-sm p-button-danger" (onClick)="deleteTransferDetail(rowIndex)"></p-button>
                                        </div> 
                                    </td> -->
                                }    
                            }
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="flex justify-content-between align-items-center">
                <p-button label="Cancelar" icon="pi pi-times" styleClass="p-button-danger" (onClick)="showConfirmCancelNewInvoice()"></p-button>
                <p-button label="Aceptar" icon="pi pi-check" [disabled]="this.invoiceForm?.invalid || this.invoiceForm?.value?.items?.length <= 0" styleClass="p-button-success" (onClick)="showConfirmSaveInvoice()"></p-button>
            </div>
        </div>
    </ng-template>
</p-dialog>